
#background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url("background.jpg");
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;        /* center items horizontally, in this case */
  position: center;
}

.q_container
{
  color: #444;
  max-width: 90%;
  width: fit-content;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 4vw;
  padding-right: 4vw;
  backdrop-filter: blur(10px);
  border-radius: 7px;
  box-shadow: -3px 0 68px -4px rgba(0,0,0,.55);
  background-color: rgba(189,178,255,.2);

}

#question
{
  font-size: calc(14px + 1.6vw);
}

#q_no
{
  font-size: 1em;
  color: rgb(69, 69, 69);
}

.option
{
  color: #4e4e4e;
  font-size: calc(15px + 1vw);
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  border: 0;
  background-color: transparent;
  backdrop-filter: blur(100px);
  box-shadow: 3px 4px 18px -7px rgba(0,0,0,.35);
  background-image: linear-gradient(90deg,rgba(222,178,255,.6),rgba(228,169,181,.6));
  margin-top: 4px;
  margin-bottom: 4px;
  transition: all 300ms ease ;
}

.option-btn
{
  background-color: transparent;
  border: 0;
  color: #444;
}

.option:hover { 
  transform: scale(1.1);
}

.result-container
{
  max-width: 80%;
  max-height: 100%;
  color: white;
  width: fit-content;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 4vw;
  padding-right: 4vw;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: -3px 0 68px -4px rgba(0,0,0,1);
  background-color: rgba(0, 0, 0, 0.2);

}