
.result-container
{
  max-width: 80%;
  max-height: 80%;
  color: rgb(34, 34, 34);
  width: fit-content;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 4vw;
  padding-right: 4vw;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  box-shadow: -3px 0 68px -4px rgba(0, 0, 0, 0.544);
  background-color: rgba(255, 255, 255, 0.666);
  

}
#subname
{
    font-size: 3vmin;
}
